<br>
<p>An online live class platform is used by tutors and educational institutes to live-stream classes and upload on-demand lectures.<br> Live online class platforms have become even popular in difficult times like COVId-19 and are an important tool to share video content with students worldwide.</p>


<div class="card mx-auto"  id="maincard">
    <div class="card-body">
        <table class="container">
        <tbody>
            <td>Most important course for professional: </td>
            <td><div class="card" style="width: 18rem; border-radius: 3cm;">
                <div class="card-body">
                  <img title="Class with Tapan" style="width: 180px; margin-left: 35px;" src="../../../assets/images/mean.jpg">
                  <h5 class="card-title">MEAN Stack</h5>
                  <p class="card-text"> MEAN Stack is one of the most popular Technology Stack. It is used to develop a Full Stack Web Application.</p>
                  
                </div>
              </div></td>
              <td>
                <div class="card" style="width: 18rem;  border-radius: 3cm;">
                    <div class="card-body">
                      <img title="Class with Tapan" style="width: 180px; margin-left: 38px;" src="../../../assets/images/dev.jpg">
                      <h5 class="card-title">DevOps</h5>
                      <p class="card-text" style="text-align: center;">DevOps is a set of practices that combines software development and IT operations (Ops). It aims to shorten the systems development life cycle and provide continuous delivery with high software quality.</p>
                      </div></div>
              </td>
    </tbody>
    </table></div>
    
</div>

