<h1>Advance Java</h1>
<div class="container">
    <div class="card">
        <table>
            <tbody>
                <td>
                    <youtube-player
                    [videoId] = id
                    (ready) = "savePlayer($event)"
                    [playerVars] = "playerVars"
                    >
                    <button type="button" (click) = "playVideo()">
                    Play Video
                    </button>
                    
                    <button type="button" (click) = "pauseVideo()">Pause Video</button>
                    </youtube-player>
                </td>
                <td>
                    <h5 class="card-title"> Advance Java Tutorial | Advanced Java Full Course 2022 | J2EE, JSP, JDBC, Java API</h5>
                    <p>This video on "Advance Java Full Course" is dedicated to helping Beginners and Professionals with detailed Fundamentals on all the major concepts based on Advanced Java. The Tutorial also includes practical sessions to provide a better learning experience. </p>
                </td>
            </tbody>
        </table>
    </div>
    </div>
