<h1>MEAN STACK</h1>
<div class="container">
    <div class="card">
        <table>
            <tbody>
                <td>
                    <youtube-player
                    [videoId] = id
                    (ready) = "savePlayer($event)"
                    [playerVars] = "playerVars"
                    >
                    <button type="button" (click) = "playVideo()">
                    Play Video
                    </button>
                    
                    <button type="button" (click) = "pauseVideo()">Pause Video</button>
                    </youtube-player>
                </td>
                <td>
                    <h5 class="card-title"> Overview</h5>
                    <p>Build a real world application using the MEAN stack! In this video I show you a demo of the finished application that we will be building in this series. This is Part 1 of this series where I build a Task Manager Application from scratch using the MEAN stack. </p>
                </td>
            </tbody>
        </table>
    </div>
    </div>

    <div class="container">
        <div class="card">
            <table>
                <tbody>
                    <td>
                        <youtube-player
                        [videoId] = id2
                        (ready) = "savePlayer($event)"
                        [playerVars] = "playerVars"
                        >
                        <button type="button" (click) = "playVideo()">
                        Play Video
                        </button>
                        
                        <button type="button" (click) = "pauseVideo()">Pause Video</button>
                        </youtube-player>
                    </td>
                    <td>
                        <h5 class="card-title">Creating the UI (Angular) - [2]</h5>
                        <p>In this video we start developing the Angular application, focusing on building the UI and layout. This is the second part of this series where we are building a Task Manager application from scratch using the MEAN stack.</p>
                    </td>
                </tbody>
            </table>
        </div>
        </div>
        <div class="container">
            <div class="card">
                <table>
                    <tbody>
                        <td>
                            <youtube-player
                            [videoId] = id3
                            (ready) = "savePlayer($event)"
                            [playerVars] = "playerVars"
                            >
                            <button type="button" (click) = "playVideo()">
                            Play Video
                            </button>
                            
                            <button type="button" (click) = "pauseVideo()">Pause Video</button>
                            </youtube-player>
                        </td>
                        <td>
                            <h5 class="card-title"> Building the API | NodeJS, Express and Mongoose - [3]</h5>
                            <p>In this video we are going to be building the API for this application using NodeJS, Express and Mongoose. This is Part 3 of this series where I build a Task Manager Application from scratch using the MEAN stack.</p>
                        </td>
                    </tbody>
                </table>
            </div>
            </div>

            <div class="container">
                <div class="card">
                    <table>
                        <tbody>
                            <td>
                                <youtube-player
                                [videoId] = id4
                                (ready) = "savePlayer($event)"
                                [playerVars] = "playerVars"
                                >
                                <button type="button" (click) = "playVideo()">
                                Play Video
                                </button>
                                
                                <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                </youtube-player>
                            </td>
                            <td>
                                <h5 class="card-title"> Connecting Angular Frontend to the API - [4]</h5>
                                <p>In this video we are going to be connecting the NodeJS REST API that we built in the previous video to the Angular Frontend. This is Part 4 of this series where we are building a Task Manager Application from scratch using the MEAN stack.</p>
                            </td>
                        </tbody>
                    </table>
                </div>
                </div>

                <div class="container">
                    <div class="card">
                        <table>
                            <tbody>
                                <td>
                                    <youtube-player
                                    [videoId] = id5
                                    (ready) = "savePlayer($event)"
                                    [playerVars] = "playerVars"
                                    >
                                    <button type="button" (click) = "playVideo()">
                                    Play Video
                                    </button>
                                    
                                    <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                    </youtube-player>
                                </td>
                                <td>
                                    <h5 class="card-title"> Creating Lists and Displaying in Sidebar - [5]</h5>
                                    <p>In this video we create the New List page and write the code to populate the Lists in the sidebar. This is Part 5 of this series where we are building a Task Manager Application from scratch using the MEAN stack.</p>
                                </td>
                            </tbody>
                        </table>
                    </div>
                    </div>

                    <div class="container">
                        <div class="card">
                            <table>
                                <tbody>
                                    <td>
                                        <youtube-player
                                        [videoId] = id6
                                        (ready) = "savePlayer($event)"
                                        [playerVars] = "playerVars"
                                        >
                                        <button type="button" (click) = "playVideo()">
                                        Play Video
                                        </button>
                                        
                                        <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                        </youtube-player>
                                    </td>
                                    <td>
                                        <h5 class="card-title"> New Task Button (FAB) - [6]</h5>
                                        <p>In this video we create the 'New Task' floating action button using HTML and CSS. This is the sixth part of this series where we are building a Task Manager application from scratch using Angular, NodeJS and MongoDB.</p>
                                    </td>
                                </tbody>
                            </table>
                        </div>
                        </div>

                        <div class="container">
                            <div class="card">
                                <table>
                                    <tbody>
                                        <td>
                                            <youtube-player
                                            [videoId] = id7
                                            (ready) = "savePlayer($event)"
                                            [playerVars] = "playerVars"
                                            >
                                            <button type="button" (click) = "playVideo()">
                                            Play Video
                                            </button>
                                            
                                            <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                            </youtube-player>
                                        </td>
                                        <td>
                                            <h5 class="card-title"> Creating the New Task Page - [7]</h5>
                                            <p>In this video we are going to create the 'New Task' page. This is the seventh part of this series where we are building a Task Manager application from scratch using the MEAN stack.</p>
                                        </td>
                                    </tbody>
                                </table>
                            </div>
                            </div>

                            <div class="container">
                                <div class="card">
                                    <table>
                                        <tbody>
                                            <td>
                                                <youtube-player
                                                [videoId] = id8
                                                (ready) = "savePlayer($event)"
                                                [playerVars] = "playerVars"
                                                >
                                                <button type="button" (click) = "playVideo()">
                                                Play Video
                                                </button>
                                                
                                                <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                                </youtube-player>
                                            </td>
                                            <td>
                                                <h5 class="card-title"> Setting Tasks to Completed - [8]</h5>
                                                <p>In this video we create the functionality to complete (and uncomplete) tasks by clicking on the task cards. This is Part 8 of this series where we are building a Task Manager Application from scratch using the MEAN stack.</p>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                                </div>

                                 <div class="container">
                                <div class="card">
                                    <table>
                                        <tbody>
                                            <td>
                                                <youtube-player
                                                [videoId] = id9
                                                (ready) = "savePlayer($event)"
                                                [playerVars] = "playerVars"
                                                >
                                                <button type="button" (click) = "playVideo()">
                                                Play Video
                                                </button>
                                                
                                                <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                                </youtube-player>
                                            </td>
                                            <td>
                                                <h5 class="card-title"> Users & Authentication (API) - [9]</h5>
                                                <p>In this video we quickly create the Login page on the frontend and then implement users and authentication in our API. This is Part 9 of this series where we are building a Task Manager Application from scratch using the MEAN stack. </p>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                                </div>

                                <div class="container">
                                    <div class="card">
                                        <table>
                                            <tbody>
                                                <td>
                                                    <youtube-player
                                                    [videoId] = id10
                                                    (ready) = "savePlayer($event)"
                                                    [playerVars] = "playerVars"
                                                    >
                                                    <button type="button" (click) = "playVideo()">
                                                    Play Video
                                                    </button>
                                                    
                                                    <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                                    </youtube-player>
                                                </td>
                                                <td>
                                                    <h5 class="card-title"> Starting Angular Authentication - [10]</h5>
                                                    <p>In this video we create the AuthService and create a HTTP Interceptor to manage handling authentication on the frontend. This is Part 10 of this series where we are building a Task Manager Application from scratch using the MEAN stack.</p>
                                                </td>
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>

                                    <div class="container">
                                        <div class="card">
                                            <table>
                                                <tbody>
                                                    <td>
                                                        <youtube-player
                                                        [videoId] = id11
                                                        (ready) = "savePlayer($event)"
                                                        [playerVars] = "playerVars"
                                                        >
                                                        <button type="button" (click) = "playVideo()">
                                                        Play Video
                                                        </button>
                                                        
                                                        <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                                        </youtube-player>
                                                    </td>
                                                    <td>
                                                        <h5 class="card-title"> Protecting API Routes - [11]</h5>
                                                        <p>In this video we will protect our API routes using authentication middleware, we also use adapt our database queries by putting the user_id in the conditions so that a user can only ever view, edit and delete their own tasks and lists. </p>
                                                    </td>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>

                                        <div class="container">
                                            <div class="card">
                                                <table>
                                                    <tbody>
                                                        <td>
                                                            <youtube-player
                                                            [videoId] = id12
                                                            (ready) = "savePlayer($event)"
                                                            [playerVars] = "playerVars"
                                                            >
                                                            <button type="button" (click) = "playVideo()">
                                                            Play Video
                                                            </button>
                                                            
                                                            <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                                            </youtube-player>
                                                        </td>
                                                        <td>
                                                            <h5 class="card-title"> Handling Access Token Refresh on Frontend - [12]</h5>
                                                            <p>In this video we are going to be creating the logic that is able to send the "Refresh Acess Token" request to the API when the Access Token expires. This is the 12th part of this series where we are building a Task Manager application from scratch using the MEAN stack.</p>
                                                        </td>
                                                    </tbody>
                                                </table>
                                            </div>
                                            </div>

                                            <div class="container">
                                                <div class="card">
                                                    <table>
                                                        <tbody>
                                                            <td>
                                                                <youtube-player
                                                                [videoId] = id13
                                                                (ready) = "savePlayer($event)"
                                                                [playerVars] = "playerVars"
                                                                >
                                                                <button type="button" (click) = "playVideo()">
                                                                Play Video
                                                                </button>
                                                                
                                                                <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                                                </youtube-player>
                                                            </td>
                                                            <td>
                                                                <h5 class="card-title"> Signup Page - [13] </h5>
                                                                <p>In this video we create the signup page. This is Part 13 of this series where we are building a Task Manager Application from scratch using the MEAN stack. </p>
                                                                
                                                            </td>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                </div>

                                                <div class="container">
                                                    <div class="card">
                                                        <table>
                                                            <tbody>
                                                                <td>
                                                                    <youtube-player
                                                                    [videoId] = id14
                                                                    (ready) = "savePlayer($event)"
                                                                    [playerVars] = "playerVars"
                                                                    >
                                                                    <button type="button" (click) = "playVideo()">
                                                                    Play Video
                                                                    </button>
                                                                    
                                                                    <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                                                    </youtube-player>
                                                                </td>
                                                                <td>
                                                                    <h5 class="card-title"> Updating and Deleting Lists & Tasks - [14] </h5>
                                                                    <p>In this video we create the functionality to update and delete Lists and Tasks. This is Part 14 of this series where we are building a Task Manager Application from scratch using the MEAN stack. </p> 
                                                                    
                                                                </td>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    </div>

                                                    <div class="container">
                                                        <div class="card">
                                                            <table>
                                                                <tbody>
                                                                    <td>
                                                                        <youtube-player
                                                                        [videoId] = id15
                                                                        (ready) = "savePlayer($event)"
                                                                        [playerVars] = "playerVars"
                                                                        >
                                                                        <button type="button" (click) = "playVideo()">
                                                                        Play Video
                                                                        </button>
                                                                        
                                                                        <button type="button" (click) = "pauseVideo()">Pause Video</button>
                                                                        </youtube-player>
                                                                    </td>
                                                                    <td>
                                                                        <h5 class="card-title"> Finishing up - [15] </h5>
                                                                        <p>In this video we finish up this application by making some final changes. This is the last part of this series where we have been building a Task Manager Application from scratch using the Angular, NodeJS and MongoDB.</p> 
                                                                        
                                                                    </td>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        </div>
        
                                                        